#s-00ee1313-0daf-49de-8c0f-a54a0a8ca0c2 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-00ee1313-0daf-49de-8c0f-a54a0a8ca0c2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-00ee1313-0daf-49de-8c0f-a54a0a8ca0c2 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-00ee1313-0daf-49de-8c0f-a54a0a8ca0c2 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-00ee1313-0daf-49de-8c0f-a54a0a8ca0c2 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-00ee1313-0daf-49de-8c0f-a54a0a8ca0c2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}