.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-547c2bf1-f2f2-4c60-86fb-d8603d27466b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}